.number {
    background-color: #9b9dac;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
}

.button {
    color: white;
    background-color: #2c303d;
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#equal {
    background-color: #a8c7fa;
}

#screen {
    background-color: #f0f0f5;
    border: 1px solid hsl(240, 0%, 60%);
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: xx-large;
    padding-left: 1rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    height: 50vh;
    align-items: center;
    border: 1px solid grey;
    padding: 8px;
}
    
.div1 {
    grid-column: span 7 / span 7;
}

.div2 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.div3 {
    grid-column-start: 5;
    grid-row-start: 2;
}

.div4 {
    grid-column-start: 6;
    grid-row-start: 2;
}

.div5 {
    grid-column-start: 7;
    grid-row-start: 2;
}

.div6 {
    grid-column-start: 7;
    grid-row-start: 3;
}

.div7 {
    grid-column-start: 6;
    grid-row-start: 3;
}

.div8 {
    grid-column-start: 4;
    grid-row-start: 3;
}

.div9 {
    grid-column-start: 5;
    grid-row-start: 3;
}

.div10 {
    grid-column-start: 4;
    grid-row-start: 4;
}

.div11 {
    grid-column-start: 4;
    grid-row-start: 5;
}

.div12 {
    grid-column-start: 6;
    grid-row-start: 4;
}

.div13 {
    grid-column-start: 5;
    grid-row-start: 4;
}

.div14 {
    grid-column-start: 5;
    grid-row-start: 5;
}

.div15 {
    grid-column-start: 6;
    grid-row-start: 5;
}

.div16 {
    grid-column-start: 7;
    grid-row-start: 5;
}

.div17 {
    grid-column-start: 7;
    grid-row-start: 4;
}

.div18 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.div19 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div20 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.div21 {
    grid-column-start: 1;
    grid-row-start: 4;
}

.div22 {
    grid-column-start: 2;
    grid-row-start: 4;
}

.div23 {
    grid-column-start: 3;
    grid-row-start: 4;
}

.div24 {
    grid-column-start: 3;
    grid-row-start: 5;
}

.div25 {
    grid-column-start: 2;
    grid-row-start: 5;
}

.div26 {
    grid-column-start: 1;
    grid-row-start: 5;
}

.div27 {
    grid-column-start: 7;
    grid-row-start: 6;
}

.div28 {
    grid-column-start: 6;
    grid-row-start: 6;
}

.div29 {
    grid-column-start: 5;
    grid-row-start: 6;
}

.div30 {
    grid-column-start: 4;
    grid-row-start: 6;
}

.div31 {
    grid-column-start: 3;
    grid-row-start: 6;
}

.div32 {
    grid-column-start: 2;
    grid-row-start: 6;
}

.div33 {
    grid-column-start: 1;
    grid-row-start: 6;
}
        